@switch (card()) {
  @case ('start') {
    <div class="spell-start">
      <h1>🔤 Spelling Word</h1>
      <button matButton="filled" (click)="startGame()">Game Start</button>
    </div>
  }
  @case ('spell') {
    <div class="spell-game">
      <div class="spell-process">Process: {{ process() }}</div>
      @let currentWordVal = currentWord();
      <div class="spell-word">
        <div class="word-display">
          <label>当前单词: {{ currentWordVal }}</label>
          <!-- <button matIconButton class="play-btn" (click)="wordAudio.play()">🔊</button> -->
          <!-- <audio
            #wordAudio
            [src]="'https://dict.youdao.com/dictvoice?audio=' + currentWordVal + '&type=1'"
            autoplay
          ></audio> -->
        </div>
        <div cdkDropListGroup>
          <div class="drop-letters">
            @for (letter of dropLetters; track letter; let i = $index) {
              <div
                cdkDropList
                [cdkDropListData]="dropLetters"
                (cdkDropListDropped)="drop($event, i)"
                class="letter"
              >
                {{ letter }}
              </div>
            }
          </div>
          <div
            cdkDropList
            [cdkDropListData]="dragLetters"
            (cdkDropListDropped)="drop($event, -1)"
            class="drag-letters"
          >
            @for (letter of dragLetters; track letter; let i = $index) {
              <div cdkDrag class="letter">
                <!-- <div class="letter-placeholder" *cdkDragPlaceholder></div> -->
                {{ letter }}
              </div>
            }
          </div>
        </div>
        <!-- @if(showResult) {
      <div class="word-result">
        @if(isCorrect) {
        <span class="correct-msg">✅ 正确!</span>
        <audio src="right.mp3" autoplay></audio>
        } @else {
        <span class="wrong-msg">❌ 错误! 正确答案: {{ currentWord }}</span>
        <audio src="wrong.mp3" autoplay></audio>
        }
      </div>
      } -->

        <!-- <div class="actions">
        @if(showResult) {
        <button class="btn-next" (click)="nextWord()">下一个</button>
        } @else {
        <button class="btn-confirm" [disabled]="!allSlotsFilled" (click)="confirm()">确认</button>
        }
      </div> -->
      </div>
      <!-- <div class="spell-score">
    <span class="correct">✅ {{ correctCount }}</span>
    <span class="wrong">❌ {{ wrongCount }}</span>
  </div> -->
    </div>
  }
  @case ('result') {
    <div class="spell-result"></div>
  }
}
