@switch (card()) {
  @case ('start') {
    <div class="spell-start">
      <h1>🔤 Spelling Word</h1>
      <button matButton="filled" (click)="startGame()">Game Start</button>
    </div>
  }
  @case ('spell') {
    <div class="spell-game">
      <div class="spell-process">
        <span class="process-title">PROCESS</span>
        <div class="process-count">
          <span>{{ count() }}</span> / {{ total() }}
        </div>
        <div class="progress-bar">
          <mat-progress-bar mode="determinate" [value]="getProgressValue()"></mat-progress-bar>
        </div>
      </div>
      @let currentWordVal = currentWord();
      <div cdkDropListGroup class="spell-word">
        <div class="word-display">
          <button matButton="tonal" class="play-btn" aria-label="Play audio" (click)="audioClick()">
            <mat-icon class="play-btn-icon" fontSet="material-symbols-outlined">volume_up</mat-icon>
          </button>
        </div>
        <div class="word-content">
          <div class="drop-letters">
            @for (solt of dropLetterSlots; track solt; let i = $index) {
              <div
                cdkDropList
                #dropLetterList="cdkDropList"
                [cdkDropListData]="{ slots: dropLetterSlots, value: solt.letter, index: i }"
                [cdkDropListEnterPredicate]="dropLetterSlotsPredicate"
                (cdkDropListDropped)="drop($event, i)"
                (click)="clearLetter(i)"
                [class.letter]="solt.letter === ''"
                [class.letter-drop]="solt.letter !== ''"
              >
                {{ solt.letter }}
              </div>
            }
          </div>
          <div
            cdkDropList
            #dragLetterList="cdkDropList"
            [cdkDropListData]="{ slots: dragLetterSlots }"
            (cdkDropListDropped)="drop($event, -1)"
            class="drag-letters"
          >
            @for (solt of dragLetterSlots; track solt; let i = $index) {
              <div cdkDrag class="letter">
                {{ solt.letter }}
              </div>
            }
          </div>
        </div>
        <div class="spell-check-msg">
          @if (showResult()) {
            @if (isCorrect()) {
              <span class="correct">✅ That's correct.</span>
            } @else {
              <span class="error"
                >❌ That's incorrect. The correct answer is
                <span class="error-word">{{ currentWordVal!.word }}</span
                >.</span
              >
            }
          }
        </div>
        <div>
          @if (showResult()) {
            <button class="spell-btn" matButton="filled" (click)="nextWord()">Next</button>
          } @else {
            <button
              class="spell-btn"
              matButton="filled"
              [disabled]="dragLetterSlots.length > 0"
              (click)="checkWord()"
            >
              Check
            </button>
          }
        </div>
      </div>
      <div class="spell-score">
        <span class="correct">✅ {{ correctList().length }}</span>
        <span class="error">❌ {{ errorList().length }}</span>
      </div>
    </div>
  }
  @case ('result') {
    <div class="spell-result">
      <h1>🎉 Game Over</h1>
      <div class="result-score">
        <div class="correct">
          <span>Correct</span><span>{{ correctList().length }}</span>
        </div>
        <div class="error">
          <span>Error</span><span>{{ errorList().length }}</span>
        </div>
        <div class="accuracy">
          <span>Accuracy</span><span>{{ getAccuracy() }}</span>
        </div>
      </div>
      <button class="spell-btn" matButton="filled" (click)="startGame()">Restart</button>
      <!-- <button class="spell-btn" matButton="tonal" (click)="report()">Report</button> -->
    </div>
  }
}
