@switch (card()) {
  @case ('start') {
    <div class="spell-start">
      <h1>🔤 Spelling Word</h1>
      <button matButton="filled" (click)="startGame()">Game Start</button>
    </div>
  }
  @case ('spell') {
    <div class="spell-game">
      <div class="spell-process">
        <span class="process-title">PROCESS</span>
        <div class="process-count">
          <span>{{ count() }}</span> / {{ total() }}
        </div>
        <div class="progress-bar">
          <mat-progress-bar mode="determinate" [value]="getProgressValue()"></mat-progress-bar>
        </div>
      </div>
      @let currentWordVal = currentWord();
      <div cdkDropListGroup class="spell-word">
        <div class="word-display">
          <button matButton="tonal" class="play-btn" aria-label="Play audio" (click)="audioClick()">
            <mat-icon class="play-btn-icon" fontSet="material-icons">volume_up</mat-icon>
          </button>
        </div>
        <div class="word-content">
          <div class="drop-letters">
            @for (solt of dropLetterSlots; track solt; let i = $index) {
              <div
                cdkDropList
                #dropLetterList="cdkDropList"
                [cdkDropListData]="{ slots: dropLetterSlots, value: solt.letter, index: i }"
                [cdkDropListEnterPredicate]="dropLetterSlotsPredicate"
                (cdkDropListDropped)="drop($event, i)"
                (click)="clearLetter(i)"
                [class.letter]="solt.letter === ''"
                [class.letter-drop]="solt.letter !== ''"
              >
                {{ solt.letter }}
              </div>
            }
          </div>
          <div
            cdkDropList
            #dragLetterList="cdkDropList"
            [cdkDropListData]="{ slots: dragLetterSlots }"
            (cdkDropListDropped)="drop($event, -1)"
            class="drag-letters"
          >
            @for (solt of dragLetterSlots; track solt; let i = $index) {
              <div cdkDrag class="letter">
                {{ solt.letter }}
              </div>
            }
          </div>
        </div>
        <div class="spell-check-msg">
          @if (showResult()) {
            @if (isCorrect()) {
              <span class="correct">✅ That's correct.</span>
            } @else {
              <span class="incorrect"
                >❌ That's incorrect. The correct answer is
                <span class="incorrect-word">{{ currentWordVal!.word }}</span
                >.</span
              >
            }
          }
        </div>
        <div>
          @if (showResult()) {
            <button class="spell-btn" matButton="filled" (click)="nextWord()">Next</button>
          } @else {
            <button
              class="spell-btn"
              matButton="filled"
              [disabled]="dragLetterSlots.length > 0"
              (click)="checkWord()"
            >
              Check
            </button>
          }
        </div>
      </div>
      <div class="spell-score">
        <span class="correct">✅ {{ correctList().length }}</span>
        <span class="incorrect">❌ {{ incorrectList().length }}</span>
      </div>
    </div>
  }
  @case ('result') {
    <div class="spell-result">
      <h1>Game Over</h1>
      <div class="result-score">
        <div class="correct">
          <span>Correct</span><span>{{ correctList().length }}</span>
        </div>
        <div class="incorrect">
          <span>Incorrect</span><span>{{ incorrectList().length }}</span>
        </div>
        <div class="accuracy">
          <span>Accuracy</span><span>{{ getAccuracy() }}</span>
        </div>
      </div>
      <button class="spell-btn" matButton="filled" (click)="startGame()">Restart</button>
      @if (incorrectList().length > 0) {
        <button class="spell-btn" matButton="tonal" (click)="report()">Incorrect Report</button>
      }
    </div>
  }
  @case ('report') {
    <div class="spell-report">
      <div class="report-header">
        <button class="no-print" matIconButton (click)="card.set('result')">
          <mat-icon fontSet="material-icons">arrow_back_ios_new</mat-icon>
        </button>
        <div class="report-title">
          <h2>Incorrect Report</h2>
        </div>
        <button class="no-print" matIconButton aria-label="Print" (click)="printReport()">
          <mat-icon fontSet="material-icons">print</mat-icon>
        </button>
      </div>
      <div class="report-words">
        @for (word of incorrectList(); track word.id) {
          <div class="four-lines">
            <hr class="line top-line" />
            <hr class="line mid-line" />
            <hr class="line base-line" />
            <hr class="line bottom-line" />
            <span class="word-text">{{ word.word }}</span>
          </div>
        } @empty {
          <div class="no-errors">🎉 Correct. Good work.</div>
        }
      </div>
    </div>
  }
}
