app-spell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  overflow: hidden;
}

.spell-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spell-process {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-letters,
.drag-letters {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
}

.letter {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
}

.drop-letters > .letter {
  border: 2px dotted #c2c2c2;
}

.drag-letters > .letter {
  border: 2px solid #c2c2c2;
  background-color: #f2f2f2;
}

.letter-placeholder {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 2px solid #c2c2c2;
  background-color: #f2f2f2;
}

.cdk-drag-preview {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 2px solid #c2c2c2;
  background-color: #f2f2f2;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
