app-search {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-content {
  flex: 1;
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  border: none;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.search-audio {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  * {
    font-size: 32px;
  }
}
.search-favorite {
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}
